.DS_Store
node_modules
.idea
*.zip
Versions
Backup

chrome/build.*
chrome/subtle.*
chrome/vendors
chrome/css
chrome/fonts
chrome/images
chrome/index.html
chrome/vendors

firefox/build.*
firefox/subtle.*
firefox/css
firefox/fonts
firefox/images
firefox/index.html