:root {
    --green: #7AB800;
    --red: #cc0000;
    --blue: #2196F3;
    --primaryText: #333;
    --secondaryText: #666;
    --blueBg: rgba(33, 150, 243, 0.10);
}

.text-green {
    color: var(--green);
}

.text-black {
    color: #333;
}

.text-blue {
    color: var(--blue);
    transition: color 0.23s ease-in;
}

.text-blue-hover:hover {
    color: #2179d6;
}

.text-blue-underlined:hover {
    text-decoration: underline;
    text-decoration-color: #2179d6;
}

.text-red {
    color: #cc0000;
}

.bg-blue {
    background-color: #2196F3;
}

.svg-blue-fill {
    fill: #2196F3
}

.svg-blue-fill-hover, .svg-blue-stroke-hover, .svg-black-stroke-hover, .svg-black-fill-hover {
    transition: all 0.23s ease-in;
}

.svg-blue-fill-hover:hover {
    fill: #2196F3 !important;
}

.svg-blue-stroke-hover:hover {
    stroke: #2196F3 !important;
}

.svg-black-stroke-hover:hover {
    stroke: #333 !important;
}

.svg-black-fill-hover:hover {
    fill: #333 !important;
}

.text-light-grey {
    color: #999;
}

/*
* BACKGROUND COLORS
*/
.bg-light-grey {
    background-color: #999;
}

.svg-fill-light-grey {
    fill: #999;
}

.bg-green {
    background-color: #7AB800;
}

.bg-light-grey {
    background-color: #ebebeb;
}

.bg-red {
    background-color: #cc0000;
}


/*
* BORDER COLORS
*/
.border-green {
    border-color: #7AB800;
}

.bg-white {
    background-color: #fff;
}