.relative {
    position: relative;
}
.absolute{
    position: absolute;
}
.mar-0 {
    margin: 0 !important;
}
.mv-0, .mb-0 {
    margin-bottom : 0 !important;
}
.mv-0, .mt-0 {
    margin-top : 0 !important;
}
.mh-0, .ml-0 {
    margin-left : 0 !important;
}
.mh-0, .mr-0 {
    margin-right: 0 !important;
}
.pad-0 {
    padding: 0 !important;
}
.pv-0, .pb-0 {
    margin-bottom : 0 !important;
}
.pv-0, .pt-0 {
    margin-top : 0 !important;
}
.ph-0, .pl-0 {
    margin-left : 0 !important;
}
.ph-0, .pr-0 {
    margin-right: 0 !important;
}
.mr-5 {
    margin-right: 0.35rem !important;
}
.ph-10 {
    padding-left: 0.72rem !important;
    padding-right: 0.72rem !important;
}
.pl-10, .ph-10 {
    padding-left: 0.72rem;
}
.pr-10, .ph-10 {
    padding-right : 0.72rem
}
.pl-20, .ph-20 {
    padding-left: 1.44rem;
}
.pr-20, .ph-20 {
    padding-right : 1.44rem;
}
.pv-5, .pt-5 {
    padding-top: 0.36rem;
}
.pv-5, .pb-5 {
    padding-bottom: 0.36rem;
}
.pv-10, .pt-10 {
    padding-top: 0.72rem;
}
.pv-10, .pb-10 {
    padding-bottom: 0.72rem;
}
.mv-10, .mb-10 {
    margin-bottom: 0.72rem;
}

.ml-10, .mh-10 {
    margin-left: 0.72rem;
}

.mr-10, .mh-10 {
    margin-right: 0.72rem
}

.mv-10, .mt-10 {
    margin-top: 0.72rem;
}
.mb-5 {
    margin-bottom : 0.36rem;
}
.mt-15 {
    margin-top: 1.08rem;
}
.mr-20, .mh-20 {
    margin-right: 1.44rem
}
.ml-20, .mh-20 {
    margin-left: 1.44rem
}
.mr-30, .mh-30 {
    margin-right: 2.16rem
}
.ml-30, .mh-30 {
    margin-left: 2.16rem
}
.border-0 {
    border: none !important;
}

.overflow-hidden {
    overflow: hidden;
}

.flex {
    display: flex;
}

.flex-end {
    align-items: flex-end;
}

.flex-start {
    align-items: flex-start;
}

.flex-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}
.flex-justify-space-between {
    justify-content: space-between;
}

.flex-justify-space-around {
    justify-content: space-around;
}

.flex-flow-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}
.btn {
    text-transform: none;
}
.btn-no-border {
    border: none !important;
}

.btn-no-border:hover {
    border: none !important;
}