@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    html{
        font-size: 14px;
    }
}
@media screen and (min-device-width: 1601px){
    html{
        font-size: 17px;
    }
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: #848484;
}
.font-large{
    font-size: 1.5rem;
}
.font-right{
    text-align: right;
}
.font-center{
    text-align: center;
}
.italics{
    font-style: italic;
}
.semi-bold{
    font-weight: 500;
}
.bold{
    font-weight: bold;
}